<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link" ><%= link_to 'One', pages_one_path %><span class="sr-only">(current)</span></a>
            <a class="nav-link" ><%= link_to 'Two', pages_two_path %></a>
            <a class="nav-link"><%= link_to 'Three', pages_three_path %></a>
        </ul>
    </div>
</nav>